.starRainbow{

    animation-name: starsRainbow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    background-size: 40px 40px;

}

.starRainbow1{
    animation-name: starsRainbow1;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.starRainbow2{
    animation-name: starsRainbow2;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.starRainbow3{
    animation-name: starsRainbow3;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.starRainbow4{
    animation-name: starsRainbow4;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}


.starRainbow5{
    animation-name: starsRainbow5;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}


@keyframes starsRainbow{

    0%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/starWhite.png);
    }

    8.3%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow0.png);
    }
    16.6%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow1.png);
    }
    24.9%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow2.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow3.png);
    }
    41.5%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow4.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow5.png);
    }
    58.1%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow6.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow7.png);
    }
    74.7%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow8.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow9.png);
    }
    91.3%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow10.png);
    }
    100%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }


}

@keyframes starsRainbow1{

    0%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }
    16.6%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/star1_Rainbow0.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/star1_Rainbow1.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/star1_Rainbow2.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/star1_Rainbow3.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/star1_Rainbow4.png);
    }
    100%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/star1_border.png);
    }

}

@keyframes starsRainbow2{

    0%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }
    16.6%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/star2_Rainbow0.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/star2_Rainbow1.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/star2_Rainbow2.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/star2_Rainbow3.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/star2_Rainbow4.png);
    }
    100%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/star2_border.png);
    }

}

@keyframes starsRainbow3{

    0%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }
    16.6%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/star3_Rainbow0.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/star3_Rainbow1.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/star3_Rainbow2.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/star3_Rainbow3.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/star3_Rainbow4.png);
    }
    100%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/star3_border.png);
    }

}

@keyframes starsRainbow4{

    0%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }
    16.6%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/star4_Rainbow0.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/star4_Rainbow1.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/star4_Rainbow2.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/star4_Rainbow3.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/star4_Rainbow4.png);
    }
    100%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/star4_border.png);
    }

}

@keyframes starsRainbow5{

    0%{
        background-image: url(../resources/gameGeneral_ico/starWhite_Rainbow11.png);
    }
    16.6%{
        background-size: 45px 45px;
        background-image: url(../resources/gameGeneral_ico/star5_Rainbow0.png);
    }
    33.2%{
        background-image: url(../resources/gameGeneral_ico/star5_Rainbow1.png);
    }
    49.8%{
        background-image: url(../resources/gameGeneral_ico/star5_Rainbow2.png);
    }
    66.4%{
        background-image: url(../resources/gameGeneral_ico/star5_Rainbow3.png);
    }
    83%{
        background-image: url(../resources/gameGeneral_ico/star5_Rainbow4.png);
    }
    100%{
        background-size: 30px 30px;
        background-image: url(../resources/gameGeneral_ico/star5_border.png);
    }

}