
/* CANVAS WINDOW FORMATING */
#windowCanvas{
    background: radial-gradient(ellipse at center, #278eb3 10%, #00425c 95%); 
    z-index: 1; 
}

.canvasHeader{
    height: 75px;
    display: flex; 
}

.canvasHeader > * {
    flex-grow: 1;
}

.headerLeft{
    width: 33.3%;
    padding-left: 15px;
}

.headerRight{
    width: 33.3%;
    padding-right: 15px;
}


.printStarsContainer, .printHeartsContainer{
    padding-right: 40%;
    display: flex;
    width: 100%;
    height: 50%;
}

.printStarsContainer > *, .printHeartsContainer > *{
    margin-right: 5px;
}

.printHearts{
    flex-grow: 0.5;
    background-image: url(../../resources/gameGeneral_ico/heart_dead.png); background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px; 
    min-width: 30px;
    height: 30px;
}

.printStars{
    flex-grow: 1;
    background-image: url(../../resources/gameGeneral_ico/star0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px; 
    min-width: 30px;
    height: 30px;
}

.headerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.printName{
    width: 33.3%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;

    text-align: center;

    background-image: url(../../resources/various/titleBanner.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    flex-grow: 1;

    padding-top: 25px;
}

.printOptionsContainer, .printMoneyContainer{

    width: 100%;
    height: 50%;
    display: flex; 
    justify-content: flex-end; 

}

.printMoney{
    padding-right: 30px;

    text-align: right;

    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;

    height: 30px;

    background-image: url(../../resources/ui_ico/coin.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.printOptionsContainer > div {
    margin-top: 5px; 
    height: 30px;
    margin-left: 5px;
}




/* GAME TABLE ----------------------------------------------- */


.canvasBody{
    margin-top: 25px;

    display: flex;
    width: 100%;

    justify-content: space-around;
    
}



.canvasElement{
    width: 25%;
    min-width: 200px;
    max-width: 450px;

    height: 400px; 

}


.canvasInventory{
    background: radial-gradient(ellipse at center, rgba(21,25,36,0.84) 0%, rgba(21,25,36,0.93) 100%);

    border-radius: 8px; 
    border-top: 8px solid rgb(16, 76, 126); 

    overflow: hidden;
}


.inventory-container{
    width: 100%;
    height: 90%;

    display: flex; 
    flex-wrap: wrap;

    justify-content:space-around; 
    align-items: center;
    
}

.inventory-hand{
    height: 40px;
    width: 85%;
    background-color: rgba(255, 255, 255, .5);
    display: flex; 

    justify-content: center; 
    align-items: center;

    border-radius: 10px;
}

.inventory-hand > div{
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
}

.inventory-itemBox{

    width: 25%;
    height: 45px;
    display: flex; 
    justify-content: space-around;
}

.inventory-itemBox:hover{ cursor: pointer;}

.inventory-itemBox:hover  > .inventory-item{

    background-color: rgba(175, 171, 171, .25); 
}

.inventory-itemBox:active  > .inventory-item{

    background-color: rgba(175, 171, 171, .5); 
}

.inventory-itemBox.selected > .inventory-item{
    background-color: rgba(255, 255, 255, .7); 
    background-size: 70%;
}

.inventory-item{
    background-color: rgba(0, 0, 0, .25);  
    width: 45px;
    height: 45px;

    border-radius: 7px;
    border: 2px solid rgb(64, 64, 64);

    background-position: center; 
    background-size: 90%;
    background-repeat: no-repeat;
}

.inventory-optionsBox{
    width: 100%;
    height: 10%;

    display: flex;
}


.inventory-btnDelete{
    width: 80%;
    height: 100%;
    background-color: rgb(204, 75, 76);
    background-image: url(../../resources/gameGeneral_ico/trash.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px; 
}

.inventory-btnDelete:hover{
    background-color: rgb(215, 111, 111);
}

.inventory-btnDelete:active{
    background-color: white;
    background-size: 25px;
}

.inventory-btnMenu{
    width: 20%;
    height: 100%;
    background-color: rgb(51, 125, 185);
    background-image: url(../../resources/gameGeneral_ico/menu.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px; 
}

.inventory-btnMenu:hover{
    background-color: rgb(105, 171, 224);
}

.inventory-btnMenu:active, .inventory-btnMenu.selected{
    background-color: white;
    background-size: 25px; 
}

.canvasTable{
    width: 40%;
    min-width: 270px;
}

.canvasTable{
    display: flex;

    flex-wrap: wrap;
}

.canvasTableTopContainer{
    height: 80%;
    width: 100%;

    display: flex; 
}

.canvasTable .table-SelectBox{

overflow: hidden;

height: 100%;
width: 20%;
min-width: 60px;

border-radius: 15px; 
border: 3px solid rgb(61, 28, 5); 
border-bottom-width: 8px;

background-image: url(../../resources/various/bgtable.png); 
background-size: cover; 

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}

.table-SelectBoxOpacity{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5); 
}

.tableSelecter{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tableSelecter:hover{
    cursor: pointer;
}

.tableSelecter:hover > .tableSelecterIco {
    background-color: rgba(0, 0, 0, .4); 
}

.tableSelecter:active > .tableSelecterIco{
    background-size: 65%; 
}

.tableSelecterIco{

    border-radius: 13px; 
    background-size: 80%; 
    background-position: center;
    background-repeat: no-repeat; 
    min-width: 60px;
    min-height: 60px;

}

.canvasTable .table-ClientBox{

    width: 90%; 
    height: 100%;
}

.tableClient{
    display: flex;

    visibility: hidden;

    width: 100%;
    height: 25%;

    align-items: center;

}

.tableClientPatience{
    height: 60px;
    min-width: 13px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;

    border-radius: 3px;
    overflow: hidden; 

    margin: 0 5px; 
}

.tableClientPatience > .tableClientPatienceIndicator{
    width: 100%;
    height: 100%;
    background-color: white;
}


        .dangerPatience .tableClientPatience{
            background-color: rgb(210,80,58); 
        }
        .dangerPatience .tableClientPatienceIndicator{
            background-color: white;
        }
        .fullPatience .tableClientPatienceIndicator{
            background-color: rgb(0, 176, 240); 
        }
        .mediumPatience .tableClientPatienceIndicator{
            background-color: rgb(15, 161, 102); 
        }
        .lowPatience .tableClientPatienceIndicator{
            background-color: rgb(210, 80, 58); 
        }
        .noPatience .tableClientPatienceIndicator{
            display: none; 
        }
        .noPatience .tableClientPatience{
            background-color: rgba(0, 0, 0, .3);
        }
        .frezzePatience .tableClientPatienceIndicator{
            background-color: rgb(255, 255, 255)
        }
        .frezzeOutPatience .tableClientPatience{
            background-color: rgba(0, 0, 0, .3);
        }
        .frezzeOutPatience .tableClientPatienceIndicator{
            background-color: rgba(255, 255, 255, 0.7);  
        }

.tableClientFace{

    border-radius: 50%;
    min-width: 55px;
    height: 55px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.tableClientWishContainer{
    height: 100%;
    min-width: 30px;
    display: flex;
    align-items: center;

    padding-left: 3px; 
}

    .info .wishArrow{
        border-right-color: rgb(25,117,193); 
    }
    .info .wishList{
        background-color: rgb(25,117,193);
    }



    .warn .wishArrow{
        border-right-color: rgb(210,80,58); 
    }
    .warn .wishList{
        background-color: rgb(210,80,58); 
    }

    .cash .wishArrow{
        border-right-color: rgb(60,180,134); 
    }
    .cash .wishList{
        background-color: rgb(60,180,134); 
    }
    .cash .tableClientFace, .cash .tableClientPatience{
        display: none;
    }


.wishArrow{
    width: 0; 
    height: 0; 
    border-right: 9px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
}

.wishList{
    background-color: white; 
    min-width: 50px; 
    min-height: 40px;

    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;

    padding: 0 5px;
    
    transition: width 1s;

}

.wishList>div{

    width: 30px;
    height: 30px;
    margin: 0 1px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.table-SafeContainer{
    min-width: 100%;
    height: 20%; 

    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.tableSafeSlot{

    width: 50px;
    height: 50px;

    background-color: rgba(0, 0, 0, .7); 

    border: 3px solid rgb(64, 64, 64); 
    border-radius: 10px; 
}

.tableSafeSlot:hover{
    background-color: rgba(64, 64, 64, .6);
    cursor: pointer;  
}

.tableSafeSlot:active{
    background-color: rgba(255, 255, 255, .7);  
}


.tableSafeSlot.consumable{
    border: 3px solid rgb(255, 192, 0); 
}
.tableSafeSlot.consumable:hover{
    background-color: rgba(255, 192, 0, .5); 
}

.tableSafeSlot.consumable:active{
    background-color: rgba(255, 255, 255, .7); 
}

.tableSafeSlot.pasive{
    border: 3px solid rgb(112, 48, 160); 
}

.tableSafeSlot.pasive:hover{
    background-color: rgba(112, 48, 160, .5); 
}

.tableSafeSlot.pasive:active{
    background-color: rgba(255, 255, 255, .7); 
}
.tableSafeSlot.selected{
    background-color: rgba(255, 255, 255, .7); 
}

.tableSafeSlot.selected:hover{
    cursor: auto;
    background-color: rgba(255, 255, 255, .7); 
}
