*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    height: 100%;
    background: radial-gradient(ellipse at center, #278eb3 10%, #00425c 95%);
    color: white; 
}

.startWindow{
    /*display: none;*/
    background-color: #000d13;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
}

.startWindow-panel{
    background: #278eb3;
    background: -moz-radial-gradient(center, ellipse cover, #278eb3 0%, #00425c 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #278eb3), color-stop(100%, #00425c));
    background: -webkit-radial-gradient(center, ellipse cover, #278eb3 0%, #00425c 100%);
    background: -o-radial-gradient(center, ellipse cover, #278eb3 0%, #00425c 100%);
    background: -ms-radial-gradient(center, ellipse cover, #278eb3 0%, #00425c 100%);
    background: radial-gradient(ellipse at center, #278eb3 0%, #00425c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278eb3', endColorstr='#00425c', GradientType=1 );
    border: 1px solid #5597ad;
    display: block;
    width: 70%;
    max-width: 700px;
    min-width: 530px;
    height: 100%;
    margin: auto;

}

.logo{

    width: 294px;
    height: 128px;
    margin: 20px auto;
    background-image: url(../resources/logo/logo_bnr.png);
}

.bgDecoration{
    width: 70%;
    max-width: 698px;
    min-width: 528px;
    height: 210px;
    background-image: url(../resources/various/startPage_bgDecoration.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: absolute;
    bottom: 0px;
}

.startGameSec{
    position: absolute;
    bottom: 0px;
    width: 69.8%;
    max-width: 698px;
    min-width: 528px;
}

.btn-green{
    color: white;
    background: #d4fd81;
    background: -moz-linear-gradient(top, #d4fd81 0%, #d4fd81 4%, #94d801 7%, #94d801 46%, #87cb00 53%, #87cb00 92%, #619100 94%, #619100 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4fd81), color-stop(4%, #d4fd81), color-stop(7%, #94d801), color-stop(46%, #94d801), color-stop(53%, #87cb00), color-stop(92%, #87cb00), color-stop(94%, #619100), color-stop(100%, #619100));
    background: -webkit-linear-gradient(top, #d4fd81 0%, #d4fd81 4%, #94d801 7%, #94d801 46%, #87cb00 53%, #87cb00 92%, #619100 94%, #619100 100%);
    background: -o-linear-gradient(top, #d4fd81 0%, #d4fd81 4%, #94d801 7%, #94d801 46%, #87cb00 53%, #87cb00 92%, #619100 94%, #619100 100%);
    background: -ms-linear-gradient(top, #d4fd81 0%, #d4fd81 4%, #94d801 7%, #94d801 46%, #87cb00 53%, #87cb00 92%, #619100 94%, #619100 100%);

    border: 1px solid #243806;
    border-radius: 7px;
    line-height: 150%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -2px -2px 1px #2c6200, 2px 2px 1px #2c6200, -2px 2px 1px #2c6200, 2px -2px 1px #2c6200;
    


    -webkit-box-shadow: 0px 0px 35px 10px rgba(223,255,212,0.34);
    -moz-box-shadow: 0px 0px 35px 10px rgba(223,255,212,0.34);
    box-shadow: 0px 0px 35px 10px rgba(223,255,212,0.34);
}

.btn-green:hover{
    background: #bdfc40;
    background: -moz-linear-gradient(top, #bdfc40 0%, #bdfc40 4%, #7ab201 7%, #7ab201 46%, #70a800 53%, #70a800 92%, #4e7500 94%, #4e7500 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bdfc40), color-stop(4%, #bdfc40), color-stop(7%, #7ab201), color-stop(46%, #7ab201), color-stop(53%, #70a800), color-stop(92%, #70a800), color-stop(94%, #4e7500), color-stop(100%, #4e7500));
    background: -webkit-linear-gradient(top, #bdfc40 0%, #bdfc40 4%, #7ab201 7%, #7ab201 46%, #70a800 53%, #70a800 92%, #4e7500 94%, #4e7500 100%);
    background: -o-linear-gradient(top, #bdfc40 0%, #bdfc40 4%, #7ab201 7%, #7ab201 46%, #70a800 53%, #70a800 92%, #4e7500 94%, #4e7500 100%);
    background: -ms-linear-gradient(top, #bdfc40 0%, #bdfc40 4%, #7ab201 7%, #7ab201 46%, #70a800 53%, #70a800 92%, #4e7500 94%, #4e7500 100%);
    background: linear-gradient(to bottom, #bdfc40 0%, #bdfc40 4%, #7ab201 7%, #7ab201 46%, #70a800 53%, #70a800 92%, #4e7500 94%, #4e7500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdfc40', endColorstr='#4e7500', GradientType=0 );
}

.btn-green:active{
    background: rgba(75,112,0,1);
    background: -moz-linear-gradient(top, rgba(75,112,0,1) 0%, rgba(75,112,0,1) 3%, rgba(109,163,0,1) 5%, rgba(109,163,0,1) 44%, rgba(118,173,1,1) 47%, rgba(118,173,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,112,0,1)), color-stop(3%, rgba(75,112,0,1)), color-stop(5%, rgba(109,163,0,1)), color-stop(44%, rgba(109,163,0,1)), color-stop(47%, rgba(118,173,1,1)), color-stop(100%, rgba(118,173,1,1)));
    background: -webkit-linear-gradient(top, rgba(75,112,0,1) 0%, rgba(75,112,0,1) 3%, rgba(109,163,0,1) 5%, rgba(109,163,0,1) 44%, rgba(118,173,1,1) 47%, rgba(118,173,1,1) 100%);
    background: -o-linear-gradient(top, rgba(75,112,0,1) 0%, rgba(75,112,0,1) 3%, rgba(109,163,0,1) 5%, rgba(109,163,0,1) 44%, rgba(118,173,1,1) 47%, rgba(118,173,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(75,112,0,1) 0%, rgba(75,112,0,1) 3%, rgba(109,163,0,1) 5%, rgba(109,163,0,1) 44%, rgba(118,173,1,1) 47%, rgba(118,173,1,1) 100%);
    background: linear-gradient(to bottom, rgba(75,112,0,1) 0%, rgba(75,112,0,1) 3%, rgba(109,163,0,1) 5%, rgba(109,163,0,1) 44%, rgba(118,173,1,1) 47%, rgba(118,173,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b7000', endColorstr='#76ad01', GradientType=0 );
}

.btn-gray{
    color: white;

    background: #949494;
    background: -moz-linear-gradient(top, #949494 0%, #949494 3%, #707070 5%, #707070 44%, #636363 47%, #6b6b6b 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #949494), color-stop(3%, #949494), color-stop(5%, #707070), color-stop(44%, #707070), color-stop(47%, #636363), color-stop(100%, #6b6b6b));
    background: -webkit-linear-gradient(top, #949494 0%, #949494 3%, #707070 5%, #707070 44%, #636363 47%, #6b6b6b 100%);
    background: -o-linear-gradient(top, #949494 0%, #949494 3%, #707070 5%, #707070 44%, #636363 47%, #6b6b6b 100%);
    background: -ms-linear-gradient(top, #949494 0%, #949494 3%, #707070 5%, #707070 44%, #636363 47%, #6b6b6b 100%);
    background: linear-gradient(to bottom, #949494 0%, #949494 3%, #707070 5%, #707070 44%, #636363 47%, #6b6b6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#6b6b6b', GradientType=0 );

    border: 1px solid black;
    border-radius: 7px;
    line-height: 150%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -2px -2px 1px #111111, 2px 2px 1px #111, -2px 2px 1px #111, 2px -2px 1px #111;
}

.btn-startGame{
    height: 55px;
    width: 250px;
    margin: 45px auto;
    font-size: 30px;
    font-weight: 700;

}

.inputUser{
    color: white;
    background-color: #00425c8f;
    border: 1px solid #5597ad;
    border-radius: 7px;
    padding: 8px;
    width:250px;
    font-weight: 700;

    -webkit-box-shadow: 0px 0px 20px 1px rgba(153,205,250,0.2);
    -moz-box-shadow: 0px 0px 20px 1px rgba(153,205,250,0.2);
    box-shadow: 0px 0px 20px 1px rgba(153,205,250,0.2);
}

.inputUser::placeholder{
    color: rgba(255, 255, 255, 0.452);
    text-align: center;
}

.instructionBox{
    font-family: 'Roboto', sans-serif;
    margin: 0px 40px 15px;
    padding: 10px;
    padding-top: 0px;
    max-height: 50%; 
    overflow: scroll;
    overflow-x: hidden;
}

.division{
    border: 1px solid #0d6086a6;
    width: 70%;
    margin: 20px auto 0px;
}

#preloaderEngine{
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
}