
.gameBar{

    width: 100%;
    height: 70px;
}


.logoSmall{
    background-image: url(../resources/logo/logo_bnr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 185px;
    width: 30%;
}

.indicatorLeft{
    padding: 0px 15px; 
    text-align: left;
    width: 35%;
}

.indicatorRight{
    padding: 0px 15px; 
    text-align: right;
    width: 35%;
}

.gameBarContainer{
    height: 100%;
    width: 100%;
}

.gamePrint{
        vertical-align: middle;
}

.gameTable{
    width: 95%;
    margin: 15px auto 0px;
    height: 500px;

}

.mainTable{
    padding: 20px;
    width: 30%;
    height: 100%;

}


.selectionTable{
    padding: 20px;
    width: 30%;
    height: 100%;

}

.drinksTable{
    padding: 20px;
    width: 30%;
    height: 100%;

}

.generalBox{
    height: 100%;
    width: 100%;
    background-color: #fffaff;
    border-radius: 8px;
    border: 2px solid #bc6e00;

    -webkit-box-shadow: inset 0px 0px 97px 21px rgba(197,197,199,1);
    -moz-box-shadow: inset 0px 0px 97px 21px rgba(197,197,199,1);
    box-shadow: inset 0px 0px 97px 21px rgba(197,197,199,1);

}

.gamePrint-heartcontainer{
    background-image: url(../resources/gameGeneral_ico/heart_dead.png);
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0px 3px;
}

.gamePrint-starcontainer{
    background-image: url(../resources/gameGeneral_ico/star0.png);
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0px 3px;
}

#ff-gamePrint-Name{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.coin-ico{
    padding-right: 30px;
    text-align: right;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    width: 130px;
    height: 30px;
    display: inline-block;
    background-image: url(../resources/gameGeneral_ico/coin.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

