
/* SHOP WINDOW FORMATING */
#windowShop{
    background-color: rgba(0, 13, 19, .9);
    z-index: 2; 
    display: none;
}

.shopContainer{
    background: #278eb3;
    background: radial-gradient(ellipse at center, #278eb3 0%, #00425c 100%);
    border: 1px solid #5597ad;

    margin: auto; 

    height: 100%;
    width: 70%;
    max-width: 700px;
    min-width: 530px;
}

.shopHeader{
    display: flex;
}

.shopHeader>div{
    flex: 1; 
    align-self: center;
}

.shopMoney{

    padding-left: 30px;

    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;

    width: 130px;
    height: 30px;

    background-image: url(../resources/ui_ico/coin.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.titleShop{
    text-align: center;

    background-image: url(../resources/various/titleBanner.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 75px;

    padding-top: 15px;
}

.shopIconBar{
    text-align: right;
    padding-right: 15px;
}

